.background{
    background-color: var(--primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 600px;
    height: 800px;
    border: 2px solid var(--secondary);
    background-color: var(--light);
    border-radius: 10px;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}